<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Go to <a href="/survey">Survey</a></h1>
    </div>
    <img src="assets/1.jpg">
</div>

<% include partials/footer %>