<% include partials/header %>

    <div class="container mt-3">
        <h1 class="text-white">Welcome to the survey</h1>
        <form action="/api/new" method="POST">
            <div class="fomr-group">
                <label class="text-white">What is your name?</label>
                <input class="form-control" id="name" type="text">
            </div>
            <div class="fomr-group">
                <label class="text-white">Picture URL</label>
                <input class="form-control" type="text" id="photo">
            </div>
            <div class="form group">
                <label class="text-white">You prefer VS code over Submlime Text</label>
                <select class="form-control" id="question1">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">Writting code is life</label>
                <select class="form-control" id="question2">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">Can't live without stack overflow</label>
                <select class="form-control" id="question3">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">Practice makes pefect</label>
                <select class="form-control" id="question4">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">You rarely do something just out of sheer curiosity.</label>
                <select class="form-control" id="question5">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">You think of ways to fix bugs in the shower.</label>
                <select class="form-control" id="question6">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">Node is the best</label>
                <select class="form-control" id="question7">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">You understand to be || !to be</label>
                <select class="form-control" id="question8">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">I like backend better than frontend</label>
                <select class="form-control" id="question9">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>
            <div class="form group">
                <label class="text-white">I like frontend better than backend</label>
                <select class="form-control" id="question10">
                    <option value="1">1 Strongly Disagree</option>
                    <option value="2">2 Disagree</option>
                    <option value="3">3 Neutral</option>
                    <option value="4">4 Agree</option>
                    <option value="5">5 Strongly Agree</option>
                </select>
            </div>

            <button class="submit btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <!-- <div id="bestFriendModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Your New Best Friend
                        </h1>
                </div>
                <div class="modal-body">
                    <h2 id="bestFriend"></h2>
                    <img id="bestFriendPhoto" src="#">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->


<!-- Modal -->
<div class="modal fade" id="bestFriendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Match</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 id="bestFriend"></h2>
                <img id="bestFriendPhoto" src="#">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="assets/app.js"></script>
    <% include partials/footer %>